/* add todo component */
.Input-Box {
  all: unset;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.661);
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  text-transform: capitalize;
  color: rgba(40, 40, 103, 0.866);
}
.Submit-Button {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(28, 28, 66, 0.766);
  box-shadow: none;
  border: none;
  color: aliceblue;
  font-weight: 800;
  text-transform: capitalize;
}

/* display todo component */

.All-Todos-Container {
  margin-top: 20px;
  background-color: rgba(240, 248, 255, 0.905);
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 320px;
  max-height: 400px;
  overflow-y: scroll;
  color: rgba(0, 0, 0, 0.663);
  font-size: x-large;
  border-radius: 10px;
}
